* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* width: 1920px; */
  font-size: 10px;
}

.container_1000 {
  /*  change name  */
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
}

.container_1200 {
  /*  change name  */
  max-width: 1200px;
  margin: 0 auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 74.5px;
  display: flex;
  align-items: center;
  border: 1px solid #dde0e5;
}

.header__menu  {
  display: flex;

}

.header__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.header__logo {
}

.header__menu_navigation {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.scroll-menu  {
  position: relative;
}

.scroll-menu::after {
  background: url(/images/scrollMenu.svg) no-repeat;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  width: 10px;
  height: 6px;
}

.scroll-menu__list  {
  position: absolute;
  top: 45px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.scroll-menu__item  {
  margin: 5px 10px;
}

.navigation__menu {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  gap: 27px;
}

.navigation__link {
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
}

.navigation__link_header {
  font: 400 15px/22px Montserrat, sans-serif;
  color: #000000;
}

.service-menu  {
  justify-self: flex-end;
  /* margin-left: auto; */
  display: flex;
  flex-direction: row;
  gap: 18px;
  list-style: none;
  flex-wrap: nowrap;
}

.shopping-cart-item  {
  background: url("/images/header-icons/shopping-cart.svg");
  display: inline-block;
  width: 20px;
  height: 17px;
  cursor: pointer;
}

.search-item  {
  background: url("/images/header-icons/search.svg");
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.banner-top {
  width: 1200px; /* ??? */
  height: 588px; /* ??? */
  margin-top: 158px;
  border-radius: 30px;
  background-color: #3d50f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-top__info {
  padding-left: 99px;
  margin: auto 0;
}

.banner-top__info-pretitle {
  font: 500 2.2rem/1 Montserrat, sans-serif;
  color: #ffffff;
  display: block;
}

.banner-top__info-title {
  max-width: 537px;
  margin-top: 9.09px;
  font: 700 50px/48.5px Montserrat, sans-serif;
  color: #ffffff;
}

.banner-top__info-description {
  max-width: 447px;
  margin-top: 29.91px;
  font: 400 24px/28.8px Montserrat, sans-serif;
  color: #ffffff;
  display: block;
}

.button__become-a-partner_yellow {
  padding: 18px 37px;
  border-radius: 100px;
  color: #151824;
  background-color: #ffc960;
  font: 700 16px/20px Montserrat, sans-serif;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.button__become-a-partner_yellow:hover {
  background-color: #f8a602;
  transform: scale(1.1);
}

.button__become-a-partner_blue {
  padding: 18px 37px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #3d50f9;
  font: 700 16px/20px Montserrat, sans-serif;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.button__become-a-partner_blue:hover {
  background-color: #0518c9;
  transform: scale(1.1);
}

.banner-top__info-button {
  margin-top: 55px;
}

.banner-top__pics {
  padding-right: 98px;
  margin: auto 0;
  position: relative;
}

.banner-top__pics_chart {
  position: absolute;
  top: 280px;
  right: 469px;
}

.banner-top__pics_handshake {
  position: absolute;
  top: 10px;
  right: 68px;
}

.h2-title_dark {
  font: 700 42px/46px Montserrat, sans-serif;
  color: #151824;
}

.h2-title_light {
  font: 700 42px/46px Montserrat, sans-serif;
  color: #ffffff;
}

.h4-title_dark {
  font: 600 22px/26px Montserrat, sans-serif;
  color: #151824;
}

.h4-title_light {
  font: 600 22px/26px Montserrat, sans-serif;
  color: #ffffff;
}

.join-team {
  gap: calc(10rem);
  margin-top: 155px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.join-team__info {
  padding-left: 99px;
}

.join-team__info-title {
  max-width: 351px;
}

.description_dark {
  font: 400 16px/24px Montserrat, sans-serif;
  color: #000000;
}

.description_light {
  font: 400 16px/24px Montserrat, sans-serif;
  color: #ffffff;
}

.join-team__info-description {
  margin-top: 21px;
  display: block;
  max-width: 381px;
}

.join-team__info-icon-container  {
  margin-top: 50px;
  max-width: 422px;
  display: flex;
  flex-wrap: wrap;
  gap: 27px 38px;
  opacity: 0.5;
}

.join-team__cards {
  margin-top: 5px;
  margin-right: 63px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.join-team-card_1 {
  padding: 33.84px 50px 33.4px 47px;
}

.join-team-card_2 {
  padding: 27.75px 58.98px 27.73px 57.02px;
}

.join-team-card_3 {
  padding: 53px 54px 40.09px;
}

.join-team-card {
  border-radius: 30px;
  display: inline-block;
}

.join-team__cards_dark-blue {
  background-color: #2c3442;
  margin-right: 139px;
}

.join-team__cards_orange {
  background-color: #ff7449;
  margin-top: 113px;
  margin-right: 64px;
  position: absolute;
  z-index: 2;
}

.join-team__cards_blue {
  background-color: #3d50f9;
  margin-top: 77px;
}

.join-team-card__info_title {
  font: 600 42px/46px Montserrat, sans-serif;
  color: #ffffff;
  display: block;
}

.join-team-card__info_description {
  display: block;
}

.benefits {
  margin-top: 173.42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__title {
  align-items: center;
}

.benefits__cards {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: stretch; */
}

.benefits__card {
  background-color: #fff3e1;
  border-radius: 30px;
  padding: 143px 39px 51px;
  max-width: 320px;
  align-self: stretch;
  position: relative;
  /* height: 100%; */
}

.benefits__card_icon {
  position: absolute;
  top: 39px;
  left: 39px;
}

.benefits__card_description {
  margin-top: 20px;
  display: block;
}

.benefits__button {
  margin-top: 72px;
}

.growth-business {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  background-color: #2c3442;
  justify-content: space-between;
}

.growth-business__info {
  padding-top: 153px;
  padding-left: 100px;
}

.growth-business__info-title {
  max-width: 413px;
}

.growth-business__info-description {
  margin-top: 28px;
  display: block;
  max-width: 395px;
}

.growth-business__info-button {
  margin-top: 55px;
}

.growth-business__steps {
  display: flex;
  flex-direction: column;
  max-width: 435px;
  margin-top: 102px;
  margin-right: 150px;
  padding-bottom: 117px;
}

.growth-business__step {
  display: flex;
  flex-direction: row;
}

.growth-business__step-number  {
  position: relative;
}

.growth-business__step-number::before  {
  text-align: center;
  line-height: 5px;
  position: absolute;
  top: 120px;
  right: -43px;
  content: '....';
  font-size: 50px;
  letter-spacing: 15px;
  color: #3D50F9;
  transform: rotate(90deg);
}

.growth-business__step-number-span  {
  position: absolute;
  top: 16px;
  left: 16px;
  font: 500 2.2rem/1.18 "Euclid Circular B", sans-serif;
  color: #FFFFFF;
}

.growth-business__step:last-child .growth-business__step-number::before  {
  content: "";
}

.growth-business__step:first-child .growth-business__step-number .growth-business__step-number-span {
  color: #2C3442;
}

.growth-business__step:not(:first-child) {
  margin-top: 52px;
}

.growth-business__step-info {
  padding-left: 25.66px;
}

.growth-business__step-info-title {
  margin-top: 13px;
}

.growth-business__step-info-description {
  display: block;
  margin-top: 12.4px;
}

/* 
.growth-business__step-number  {
  width: 30px;
  position: relative;
}

.growth-business__step-number::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  background-color: red;
  margin: 5px;
  position: absolute;
}
.growth-business__step-number::after:nth-of-type(1) {
  top: 0;
  left: 0;
}
.growth-business__step-number::after:nth-of-type(2) {
  top: 10px;
  right: 0;
}
.growth-business__step-number::after:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
.growth-business__step-number::after:nth-of-type(4) {
  bottom: 0;
  right: 0;
} */

.promote {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 48%;
  row-gap: 21px;
  column-gap: 19px;
  justify-content: stretch;
}

.promote__card {
  max-width: 489.57px;
  border-radius: 30px;
  background-color: #fff3e1;
  padding-left: 65px;
  flex-grow: 1;
  align-self: stretch;
}

.promote__card_main {
  background-color: #3d50f9;
}

.promote__card_main-title {
  max-width: 330px;
  margin-top: 73.14px;
  padding-bottom: 80.64px;
  flex-grow: 1;
}

.promote__card_icon {
  margin-top: 35px;
  display: block;
}

.promote__card_title {
  margin-top: 18px;
}

.promote__card_description {
  margin-top: 12px;
  display: block;
  max-width: 346px;
  padding-bottom: 42.92px;
}

.manage-sales {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  gap: 50px;
  justify-content: space-between;
}

.manage-sales__image {
  margin-left: 25px;
}

.manage-sales__info {
  margin-right: 100px;
  max-width: 400px;
}

.manage-sales__info-title {
  margin-top: 3px;
}

.manage-sales__info-description {
  margin-top: 29px;
  display: block;
}

.manage-sales__info-button {
  margin-top: 52px;
}

.products-languages {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-languages__description {
  margin-top: 15.54px;
  max-width: 600px;
  text-align: center;
  display: block;
}

.products-languages__languages-list {
  max-width: 1220px;
  margin-top: 38.95px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15.85px;
  column-gap: 12px;
  justify-content: center;
}

.products-languages__languages-item {
  background-color: #fff3e1;
  border-radius: 10px;
  font: 500 16px/24px Montserrat, sans-serif;
  color: #3d3e47;
  padding: 6px 12px; /*чтобы все влезло в 2 строки нужно сделать 10 вместо 12px*/
  text-transform: capitalize;
}

.products-languages__languages-item::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  /* margin-top: 7px;
  margin-bottom: 7px; */
  width: 10px;
  height: 10px;
  background-color: #ff7449;
  border-radius: 50%;
}

.banner-questions {
  max-width: 1200px;
  background-color: #3d50f9;
  border-radius: 30px;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 145px;
}

.banner-question__info {
  margin-top: 70.21px;
  margin-left: 207px;
}

.banner-question__info-icon {
  margin-left: 5.89px;
}

.banner-question__info-title {
  margin-top: 28.82px;
  max-width: 375px;
  padding-bottom: 79.57px;
}

.banner-question__description {
  font: 500 16px/24px Montserrat, sans-serif;
  color: #ffffff;
  display: inline-block;
  max-width: 303px;
  margin-right: 170px;
  margin-top: 94.61px;
}

.slider {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.slider__title {
  max-width: 650px;
  text-align: center;
}
/* 
.slider__slides-list  {
  position: relative;
} */

.slider__slide-item {
  margin-top: 59px;
  position: relative;
  max-width: 1000px;
  background-color: #fff3e1;
  border-radius: 30px;
  padding: 92px 96px 66px;
  display: flex;
  justify-content: space-between;
  column-gap: 90px;

  transition: opacity 1s ease-in;
  opacity: 0;

  margin-bottom: 33px;
}

.slider__slide-icon {
  position: absolute;
  top: 53px;
  left: 74px;
}

.slider__slide-title {
  font: 600 32px/38.4px Montserrat, sans-serif;
  color: #151824;
  max-width: 370px;
  z-index: 1;
}

.slider__slide-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 350px;
}

.slider__slide-description {
  font: 400 16px/24px Montserrat, sans-serif;
  color: #3d3e47;
}

.avatar {
  display: flex;
  flex-direction: row;
}

.avatar__photo {
  max-width: 48px;
  margin-right: 17px;
}

.avatar__description  {
  display: flex;
  flex-direction: column;
}

.avatar__name  {
  font: 600 18px/26px Euclid Circular B, sans-serif;
  color: #3d3e47;
  display: block;
}

.avatar__role  {
  font: 400 14px/24px Montserrat, sans-serif;
  color: #3d3e47;
  display: block;
}

.slider__nav-prev,
.slider__nav-next  {
  width: 96px;
  height: 96px;
  cursor: pointer;
  opacity: 0.6;
}

.slider__nav-prev:hover,
.slider__nav-next:hover  {
  opacity: 1;
}

.slider__nav-prev  {
  background: url("/images/slides/prev-slide.png") no-repeat;
  display: block;
  position: absolute;
  top: 55%;
  left: 50px;
}

.slider__nav-next  {
  background: url("/images/slides/next-slide.png") no-repeat;
  display: block;
  position: absolute;
  top: 55%;
  right: 50px;
}

.slider__nav-dots  {
  position: absolute;
  bottom: 0;
}

span.slider__dots {
  width: 15px;
  height: 15px;
  margin: 0 13px;
  padding: 0;
  display: inline-block;
  background-color: #EDF2F7;
  border-radius: 50%;
  cursor: pointer;
}

.become-a-partner  {
  margin-top: 150px;
  width: 100vw;
  background-color: #2C3442;
}

.become-a-partner__container  {
  margin: 97px 463px 109px 412px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
}

.become-a-partner__info  {
  background: url("/images/become-a-partner.svg") no-repeat;
}

.become-a-partner__info-title  {
  max-width: 390px;
  padding-top: 67px;
  padding-left: 48px;
}

.become-a-partner__info-description  {
  max-width: 321px;
  margin-top: 37px;
  padding-left: 48px;
  font: 400 24px/28.8px Montserrat, sans-serif;
  color: #FFFFFF;
  display: block;
}

.form  {
  max-width: 539px;
  padding: 44px 56px 62px;
  border-radius: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__title  {
  font: 700 22px/26px Montserrat, sans-serif;
  color: #151824;
  align-self: center;
  margin-bottom: 6px;
}

.form__input  {
  margin-top: 14px;
  max-width: 427px;
  max-height: 44px;
  border: 1px solid #ABB0BA;
  border-radius: 4px;
  font: 400 16px/24px Montserrat, sans-serif;
  color: #A9A9A9;
  padding: 10px 0 10px 18px;
}

.errorBorder  {
  border: 1px solid #FF7449;
}

.form__input:focus  {
  outline: none;
  border: 1px solid #3D50F9;
  box-shadow: 0 0 4px rgba(41, 160, 228, 0.7);
}

.form__input-error {
  font: 400 14px/24px Montserrat, sans-serif;
  color: #FF7449;
}

.form__textarea  {
  margin-top: 14px;
  max-width: 427px;
  border: 1px solid #ABB0BA;
  border-radius: 4px;
  font: 400 16px/24px Montserrat, sans-serif;
  color: #A9A9A9;
  padding: 10px 0 22px 18px;
  overflow: hidden;
  resize:vertical;
  align-self: stretch;
}

.form__textarea:focus {
  outline: none;
  border: 1px solid #3D50F9;
  box-shadow: 0 0 4px rgba(41, 160, 228, 0.7);
}

.form__terms  {
  font: 400 16px/24px Montserrat, sans-serif;
  color: #3D3E47;
  margin-top: 34px;
}

.form__button  {
  margin-top: 20px;
  cursor: pointer;
  padding: 18px 0;
  border-radius: 10px;
  background-color: #3D50F9;
  color: #FFFFFF;
  font: 700 16px/24px Montserrat, sans-serif;
  border: none;
  transition: transform 0.5s ease;
}

.form__button:hover  {
  background-color: #0518c9;
  transform: scale(1.05);
}

.footer  {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__container  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10%;
  padding-bottom: 85px;
}

.footer__info  {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.footer__logo  {
  cursor: pointer;
  text-decoration: none;
}

.footer__info-description  {
  margin-top: 4%;
  font: 400 1.4rem/1.8 Montserrat, sans-serif;
  color: #3D3E47;
}

.footer__subscribe  {
  max-width: 465px;
}

.subscribe__title  {
  font: 600 1.7rem/1.8 Montserrat, sans-serif;
  color: #3D3E47;
}

.subscribe__description  {
  margin-top: 1.72%;
  font: 400 1.4rem/1.8 Montserrat, sans-serif;
  color: #3D3E47;
}

.subscribe__form  {
  margin-top: 3.55%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subscribe__form-input-container  {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.subscribe__form-input  {
  border: 1px solid #C3C4CA;
  border-radius: 3px;
  font: 400 1.4rem/1.8 Montserrat, sans-serif;
  color: #8C929B;
  padding-left: 12px;
  height: 100%;
}

.subscribe__form-input:focus  {
  outline: none;
  border: 1px solid #3D50F9;
  box-shadow: 0 0 4px rgba(41, 160, 228, 0.7);
}

.subscribeForm__input-error {
  margin-top: 2px;
  font: 300 1rem/1.2 Montserrat, sans-serif;
  color: #FF7449;
}

.subscribe__form-submit  {
  flex-grow: 1;
  font: 500 1.4rem/1.8 Montserrat, sans-serif;
  color: #FFFFFF;
  padding: 5.5px 36px 6.5px 37px;
  background-color: #3D50F9;
  border-radius: 3px;
  margin: 0 9px;
  border: none;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.subscribe__form-submit:hover  {
  background-color: #0518c9;
  transform: scale(1.05);
}

button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: gray;
  cursor: not-allowed;
  transform: none;
}

.hidden {
  visibility: hidden;
  display: none;
}
